* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

h3 {
    font-family: 'Noto-Sans';
    color: black;
    text-align: left;
    font-weight: lighter;
    margin-top: 100px;
    font-size: 25px;
    float: right;
    margin-top: 250px;
    padding-left: 100px;
}



.menu * {
    display: inline;
}

.menu li {
    margin: 10px;
}

.menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu ul {
    padding-left: 0px;
}

.menu {
    font-size: 30px;
    align-items: right;
    text-align: right;
    padding-top: 30px;
    padding-right: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
} 

/* page 1 */

.one {
    background-size: cover;
    
    padding-top: 180px;
    padding-bottom: 130px;
}


 img {
    border-radius: 20%;
    box-shadow: 0px 2px 10px black;
}

/* page 2 */

.intext {
    float: right;
    margin-top: 55px;
    padding-left: 200px;
}

/* page 3 */

h1 {
    text-align: center;
}

.lists{
    text-align: center;
    font-family: 'Pretendard-Thin';
    display: block;
    text-align: center;
    font-weight: 400;
    font-family: 'Pretendard-Thin';
    font-size: 18px;
    line-height: 1.5;
    font-style: italic;
}

.list_img {
    width: 450px;
    height: 500px;
    display: block;
    margin: 7vh 5vh;
    margin-bottom: 50px;
}

.favorites {
    display:inline-flex;
    margin-top: 60px;
}

/* page 4 */

.four {
    text-align: center;
    align-items: center;
}

.contact_img {
    width: 100%;
    height: 500px;
    padding-bottom: 60px;
}

.ct {
    margin-top: 80px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-style: italic;
    margin: 35px;
}


body {
    overflow: hidden;
    font-family: 'Roboto Slab', serif;
}

/* Scroll down */

#container{
    width:100%;
    height:100vh; 
    overflow: auto;
    
}

.list{
    width:100%; 
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
}



.list:nth-child(2){
    background-color: white;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}

.list:nth-child(3){
   
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}

.list:nth-child(4){
    background-color: white;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}

.list:nth-child(5){
    background-color: white;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center; 
}